.navbar-fixed {
		z-index: 99;
		width: 100%;
		background-color: $base-color;
	}

	.navigate-bar {
		background-color: $base-color;
		display: flex;
		flex-direction: row;
		position: relative;

		.navigate-left {
			position: absolute;
			width: 60rpx;
			left: 24rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 28rpx;
			color: #fff;

			.image {
				width: 40rpx;
				height: 40rpx;
			}
		}

		.navigate-center {
			text-align: center;
			color: #fff;
			flex: 1;
			display: flex;
			justify-content: center;
			font-size: 32rpx;

			.navigate-index-input {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				border-radius: 14px 14px 14px 14px;
				background: #006AE7;
				height: 28px;
				width: 170px;
				padding: 5rpx 20rpx;
				.image {
					width: 18px;
				}

				.input {
					flex: 1;
					text-align: left;
					font-size: 24rpx;
				}

				.navigate-index-input-placeholder {
					color: #fff;
					font-size: 24rpx;
				}
			}

		}

		.navigate-right {
			position: absolute;
			width: 40;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			.text {
				background-color: skyblue;
				color: #fff;
				background: $base-color;
				font-size: 24rpx;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.navigate-right-index-images {
				display: flex;
				align-items: center;

				.image {
					width: 25px;
					margin: 0px 5px;
				}
			}
		}

	}
